#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-card {
  position: relative;
}

.game-card-image {
  border-radius: 16px;
}

.game-card-title {
  position: absolute;
  left: 16px;
  top: 0;
  text-align: left;
  color: white;
  text-shadow: 1px 1px #000000,-1px 1px #000000,1px -1px #000000,-1px -1px #000000;
}

.game-page {
  display: flex;
  flex-direction: row;
  border-radius: 16px;
}

.game-page-description {
  display: flex;
  flex-direction: column;
  text-align: left;
}